*{
    max-width: 1500px;
}
html{
    background-image: url(https://media.istockphoto.com/id/1219022871/vector/pixel-art-star-sky-at-night.jpg?s=612x612&w=0&k=20&c=dXrWrsAbcIWJnLdkJP1YDW7OjTPfPxmrrtPkoh9HFXw=);
}
#MainTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: rgb(255, 150, 12);
    font-weight: bold;
    text-align: center;
    padding: 1em;
    background-image: url(https://itaku.ee/api/media_2/gallery_imgs/Orange_wood_planks_QcKMvTH/lg.jpg);
}
#MainTitle h1{
    background-color: rgba(0, 0, 0, 0.438);
}
nav{
    padding-top: 0.5em;
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/93/15/10/1000_F_493151022_FF61vE6JVKl445UiWeJAzxnJYN2YIHkf.jpg);
    padding-bottom: 0.5em;
}
#NavBar{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    list-style-type: none;
    background-color: rgba(32, 32, 32, 0.411);
}
#NavBar li{
    width: 10%;
    box-sizing: content-box;
    transition: 0.7s;
    display: inline;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-inline: 13%;
}
#NavBar li:hover{
    transition: 0.7s;
    background-color: rgba(7, 4, 0, 0.945);
}
#NavBar li a{
    font-size: 1.3em;
    text-align: center;
    text-decoration: dashed;
    color:rgb(206, 206, 206);
}
#NavBar li a:hover{
    transition: 1s;
    color: rgb(255, 217, 0);
}

main{
    background-image: url(https://pm1.narvii.com/7096/a44f28d043453a63f142ada4cac659968f1cfbaer1-480-480v2_uhq.jpg);
    border: 2px solid rgb(0, 0, 0)
}
#Background{
    display: block;
    margin: auto;
    width: 800px;
    height: 600px;
}
footer{
    border: 2px solid black;
    background-image: url(https://i.pinimg.com/474x/93/04/20/93042048067c5d3ca5c33ea93c8c931b.jpg);
}
.NombrePersonaContacto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    color: rgb(255, 159, 32);
    font-weight: bold;
    padding: 1em;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.733);
}
.CorreoPersonaContacto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: rgb(255, 240, 23);
    background-color: rgba(0, 0, 0, 0.411);
}
.GitPersonaContacto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: rgb(255, 197, 5);
    background-color: rgba(0, 0, 0, 0.411);
}

