header #MainTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: rgb(255, 150, 12);
    text-shadow: 5em;
    font-weight: 900;
    font-weight: bold;
    text-align: center;
    padding: 3em;
    background-image: url(https://itaku.ee/api/media_2/gallery_imgs/Orange_wood_planks_QcKMvTH/lg.jpg);
}
nav{
    background-image: url(https://as1.ftcdn.net/v2/jpg/04/93/15/10/1000_F_493151022_FF61vE6JVKl445UiWeJAzxnJYN2YIHkf.jpg);
    border: 2px solid black;
}
main{
    border: 2px solid rgb(0, 0, 0)
}
#game{
    padding-left: 10%;
    padding-right: 10%;
}
footer{
    border: 2px solid black
}
