*{
    max-width: 1000px;
    margin: 0 auto; /* Esto lo uso para centrar todos los elementos */
    padding: 0 auto;
}
html{ background-image: url("images/background.jpg");
    background-size: cover; /* Hace que la imagen de fondo cubra todo el fondo */
    background-repeat: repeat; 
    background-position: center center; /* Centra la imagen de fondo */
    height: 100%; /* Asegura que el html ocupe toda la altura de la ventana */
}
#mainTitle{ 
    margin-bottom: 1em;
}

#menuContainer{
    padding-top: 35%;
}

#mainTitle h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    color: rgb(255, 150, 12);
    justify-content: center;
    
}

.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

#navBar{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: rgba(32, 32, 32, 0.411);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
#navBar li{
    flex: 1;
    transition: background-color 0.7s;
}
#navBar li:hover{
    
    background-color: rgba(7, 4, 0, 0.945);
}
#navBar li a{
    font-family: 'Press Start 2P', cursive;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(206, 206, 206);
    padding: 1em;
    transition: color 1s;
}
#navBar li a:hover{
    
    color: rgb(255, 217, 0);
}

main{ background-image: url(https://pm1.narvii.com/7096/a44f28d043453a63f142ada4cac659968f1cfbaer1-480-480v2_uhq.jpg);
    min-width: 800px;
    min-height: 600px;
}

.achievement-notification {
  position: fixed;
  width: 400px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  transition: opacity 1s ease-out;
  
}

.achievement-notification.fade-out {
  opacity: 0;
}

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 900px;
    position: relative;
    cursor: crosshair;
}

#timer{
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
  
}

#submitDiv {
  height: 100px;
  width: 200px;
  position: absolute;
  top: 45%;
  left: 37.2%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.swirl-in-bck {
	-webkit-animation: swirl-in-bck 0.65s ease-out both;
	        animation: swirl-in-bck 0.65s ease-out both;
}

 @-webkit-keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
            transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}


.coin{ background-image: url('https://i.gifer.com/Fw3P.gif'); 
    position: absolute;
    width: 80px; 
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall 1.3s ease-in forwards;
}

.especialCoin{ background-image: url('https://i.gifer.com/Fw3P.gif'); 
    position: absolute;
    width: 80px; 
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall 1.3s ease-in forwards;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

@keyframes fly {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes flap {
    0% {
        background-image: url('images/bird.png');
    }
    50% {
        background-image: url('images/bird2.png');
    }
    100% {
        background-image: url('images/bird.png');
    }
}

.bird{
    background-image: url('images/bird.png'); 
    position: absolute;
    width: 70px; 
    height: 70px; 
    background-size: contain;
    background-repeat: no-repeat;
    animation: fly 2.15s forwards, flap 0.3s steps(1) infinite;
}

.bomb{ background-image: url('images/bomb.png');  
    position: absolute;
    width: 80px; 
    height: 80px; 
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall 1.3s ease-in forwards;
}


@keyframes fall {
    0% {
      transform: translateY(0px); /* Empieza la caída desde arriba */
    }
    
    100% {
      transform: translateY(400px); /* Termina la caída */
    }
  }


#gameZone:hover{
    cursor: crosshair;
}

.goldenCoinBase{
    border-color: black;
}

.no-select{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 1.8s infinite both;
	        animation: jello-horizontal 1.8s infinite both;
}

 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

#botonJugar{
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0, 0, 0, 0.411);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1em;
    margin-left: 8.5em; 
    transition: 0.5s;
}

#botonJugar:hover{
    background-color: rgba(0, 0, 0, 0.733);
    transition: 0.5s;
    cursor: pointer;
}

#menuMusicButton{
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    mix-blend-mode: multiply;
    border: none;
    image-rendering: pixelated;

}

.pixelated-image {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="pixelate"><feFlood flood-color="black" result="BLACK"/><feMorphology operator="dilate" radius="4" in="SourceGraphic" result="SOURCE"/><feComposite operator="in" in="BLACK" in2="SOURCE"/><feColorMatrix type="matrix" values="25" result="RESULT"/><feComposite operator="out" in="RESULT"/><feBlend mode="normal" in2="SourceGraphic"/></filter></svg>#pixelate');
}

#menuMusicImage {
    width: 40px;
    height:auto;
    mix-blend-mode: multiply;
}

#infoContainer{
    margin-top: 25px;
}

#infoContainer span{
    display: block;    
}


#score{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:white;
    padding-bottom: 1em;
    
}

@keyframes shake {
  0% { transform: translateX(-3px); }
  50% { transform: translateX(1px); }
  100% { transform: translateX(-3px); }
}


img.gun{
    position: absolute;
    width: 250px;
    height: auto;
    bottom: 0;
    pointer-events: none;
    animation: shake 0.1s infinite; /* Aplica la animación shake */
     
}



